# dgaf relies on high level packages do acheive large units of work
doit
gitpython
flit
anyconfig
toml
git+https://github.com/ericdill/depfinder
jsonpointer
typer
xonsh
git+https://github.com/deathbeds/tingle